body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Ceci est la partie pour la navbar */

nav .navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.1);
}

nav .navbar .navg {
    flex: 1;
}

nav .navbar .navg img {
    height: 15%;
    width: 15%;
    margin: 10px;
}

nav .navbar .navm {
    align-items: center;
    display: flex;
    justify-content: center;
    flex: 1;
}

nav .navbar .navm p {
    margin-right: 30px;
    font-family: "Cinzel Decorative", serif;
    font-size: 25px;
    font-weight: bold;
}

nav .navbar .navm .or p {
    color: #dcb253;
}

nav .navbar .navm .or p:hover {
    color: black;
}

nav .navbar .navd {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    flex: 1;
}
nav .navbar .navd a {
    margin-left: auto;
    margin-right: 50px;
    order: 1;
    float: right;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}


nav .navbar .navd img {
    height: 5%;
    width: 5%;
}

/*                                       _____         _______   _ _
                                        |  __ \       |__   __| (_) |
                                        | |__) |__  _ __ | | ___ _| |
                                        |  ___/ _ \| '_ \| |/ _ \ | |
    fin de la template fait par :       | |  | (_) | |_) | |  __/ | |
                                        |_|   \___/| .__/|_|\___|_|_|
                                                | |               
                                                |_|               

*/



.categorie {
    display: flex;
    flex-direction: row;
}

.categorie  a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.categorie  img {
width: 85%;
height: 85%;
border-radius: 15px;
}

.categorie  p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Cinzel Decorative", serif;
    }

.categorie .catm img {
    width: 70%;
    height: 70%;
}


/* Catégorie sport */

.grande-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box_haute {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box_basse {
    display: flex;
    justify-content: center;
}

.grande-box img {
    width: 70%;
    border-radius: 15px;
}

.box-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 50%;
}

.box-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 50%;
}

.box-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 50%;
}

.box-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 50%;
}

.grande-box .text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prix-1 {
    font-style: oblique;
    font-size: 20px;
    position: absolute;
    border: 2px solid #dcb253;
    padding: 5px;
    top: 54%;
    margin-left: 65px;
}
.prix-2 {
    font-style: oblique;
    font-size: 20px;
    position: absolute;
    border: 2px solid #dcb253;
    padding: 5px;
    top: 54%;
    margin-left: 65px;
}
.prix-3 {
    font-style: oblique;
    font-size: 20px;
    position: absolute;
    border: 2px solid #dcb253;
    padding: 5px;
    top: 96%;
    margin-left: 65px;
}
.prix-4 {
    font-style: oblique;
    font-size: 20px;
    position: absolute;
    border: 2px solid #dcb253;
    padding: 5px;
    top: 96%;
    margin-left: 65px;
}

.bouton-1{
    margin-left: 29%;
    bottom: 40%;
    position: absolute;
    font-family: Prata;
    font-size: 12px;
    color: white;
    background: linear-gradient(293deg, #000000 0%, #dcb253 48%);
    padding: 12px 31px;
    border: none;
    border-radius: 16px;
    flex-direction: row;
    cursor: pointer;
    text-transform: uppercase;
}

.bouton-2{
    bottom: 40%;
    margin-left: 29%;
    position: absolute;
    font-family: Prata;
    font-size: 12px;
    color: white;
    background: linear-gradient(293deg, #000000 0%, #dcb253 48%);
    padding: 12px 31px;
    border: none;
    border-radius: 16px;
    flex-direction: row;
    cursor: pointer;
    text-transform: uppercase;
}

.bouton-3{
    top: 96%;
    margin-left: 29%;
    position: absolute;
    font-family: Prata;
    font-size: 12px;
    color: white;
    background: linear-gradient(293deg, #000000 0%, #dcb253 48%);
    padding: 12px 31px;
    border: none;
    border-radius: 16px;
    flex-direction: row;
    cursor: pointer;
    text-transform: uppercase;
}

.bouton-4{
    top: 96%;
    margin-left: 29%;
    position: absolute;
    font-family: Prata;
    font-size: 12px;
    color: white;
    background: linear-gradient(293deg, #000000 0%, #dcb253 48%);
    padding: 12px 31px;
    border: none;
    border-radius: 16px;
    flex-direction: row;
    cursor: pointer;
    text-transform: uppercase;
}